<!-- Header -->

<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="inner cover">
      <%= image_tag "face2.png", size: "684", class: "img-responsive" %>
        <h1 class="cover-heading">Narek Kirakossian</h1>
        <p class="lead">Creating beautiful, engaging user experiences for the web.</p>
      </div>
      <div class="mastfoot">
        <div class="inner">
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Portfolio Grid Section -->
<section id="portfolio">
    <div class="container">
        <div class="row hideme">
            <div class="col-lg-12 text-center">
                <h2>Projects</h2>
                <!-- <hr class="star-primary"> -->
            </div>
        </div>
        <div class="row hideme">
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <%= image_tag "portfolio/persephone.jpg", class: "img-responsive" %>
                </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <%= image_tag "portfolio/agoyo.jpg", class: "img-responsive" %>
                </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <%= image_tag "portfolio/sage.jpg", class: "img-responsive" %>
                </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <%= image_tag "portfolio/hunter.jpg", class: "img-responsive" %>
                </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <%= image_tag "portfolio/inaride.jpg", class: "img-responsive" %>
                </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <%= image_tag "portfolio/defined.jpg", class: "img-responsive" %>
                </a>
            </div>
        </div>
        <p>For traditional design work checkout <a href="https://uxzoo.carbonmade.com/">UXZOO</a><p>
    </div>
</section>

<!-- About Section -->
<section class="success" id="about">
    <div class="container-fluid">
        <div class="row hideme">
            <div class="col-lg-12 text-center">
                <!-- <h2>About me</h2> -->
            </div>
        </div>
        <div class="row ecol hideme">
            <div class="col-lg-6 col-md-6 col-sm-6" style="text-align: right;">
                <%= image_tag "me.jpg", class: "" %>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6">
            <h2>About me</h2>
                <p>I am a curious engineer and explorer. 
                Ruby On Rails is my current passion, but I never forget 
                that design is an intricate balance of how things work 
                and how they look.</p>
                <p>I value simplicity and believe that everything can be simplified
                to a level of absolute unity of shape and function.</p>
            </div>

        </div>


</section>

<!-- Contact Section -->
<section id="contact">
    <div class="container">
        <div class="row hideme">
            <div class="col-lg-12 text-center">
                <h2>Send me a message</h2>
                <!-- <hr class="star-primary"> -->
            </div>
        </div>
        <div class="row hideme">
            <div class="col-lg-8 col-lg-offset-2">
            <%= render 'shared/contact_form' %>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer class="text-center">
<!--     <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-4">
                    <h3>Location</h3>
                    <p>3481 Melrose Place<br>Beverly Hills, CA 90210</p>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Around the Web</h3>
                    <ul class="list-inline">
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                        </li>
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                        </li>
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-dribbble"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="footer-col col-md-4">
                    <h3>About Freelancer</h3>
                    <p>Freelance is a free to use, open source Bootstrap theme created by <a href="http://startbootstrap.com">Start Bootstrap</a>.</p>
                </div>
            </div>
        </div>
    </div> -->
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright &copy; Narek Kirakossian 2015
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll visible-xs visible-sm">
    <a class="btn btn-primary" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>

<!-- Portfolio Modals -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Persephone Clothing</h2>
                        <%= image_tag "portfolio/persephone.jpg", class: "img-responsive img-centered" %>
                        <p>Persephone Clothing is an online boutique offering eclectic womenswear. This is an ecomerce project powered by wordpress featuring a custom theme.</p>
                        <ul class="list-inline item-details">
                            <li>Link:
                                <strong><a href="http://persephoneclothing.com/">Persephoneclothing.com</a>
                                </strong>
                            </li>
                            <li>Technology:
                                <strong>Wordpress
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Agoyo Lounge</h2>
                        <%= image_tag "portfolio/agoyo.jpg", class: "img-responsive img-centered" %>
                        <p>Agoyo Lounge, a restaurant located in Santa Fe. The project takes full advantage of a slideshow to tell it's story. The site is powered by Wordpress and features a heavily customised theme.</p>
                        <ul class="list-inline item-details">
                            <li>link:
                                <strong><a href="http://agoyoloungesantafe.com">agoyoloungesantafe.com</a>
                                </strong>
                            </li>
                            <li>Technology:
                                <strong>Wordpress | jQury
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Sage Bakehouse</h2>
                        <%= image_tag "portfolio/sage.jpg", class: "img-responsive img-centered" %>
                        <p>The owners of Sage Bakehouse are very passionate about baked goods. Their creations reach an artistic level that can only be expressd through images. This project is powered by Wordpress with a custom theme.</p>
                        <ul class="list-inline item-details">
                            <li>Link:
                                <strong><a href="http://sagebakehouse.com/">sagebakehouse.com</a>
                                </strong>
                            </li>
                            <li>Technology:
                                <strong>Wordpress | jQury
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Hunter Kirkland Contemporary</h2>
                        <%= image_tag "portfolio/hunter.jpg", class: "img-responsive img-centered" %>
                        <p>An art gellery located in Santa Fe, New Mexico. This art gellery is all about presentation and quality. They needed a web presence that would reflect those values while showcasing some of the art and the artists.</p>
                        <ul class="list-inline item-details">
                            <li>Link:
                                <strong><a href="http://http://www.hunterkirklandcontemporary.com/">Hunter Kirkland</a>
                                </strong>
                            </li>
                            <li>Technology:
                                <strong>Wordpress | jQury
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Inaride</h2>
                        <%= image_tag "portfolio/inaride.jpg", class: "img-responsive img-centered" %>
                        <p>Inaride is a ride-sharing web application built with Ruby on Rails, Tweeter Bootstrap and Google Maps. This was a personal project, a prototype for a service with lots of potential.</p>
                        <ul class="list-inline item-details">
                            <li>Link:
                                <strong><a href="https://innoride-staging.herokuapp.com/">Inaride</a>
                                </strong>
                            </li>

                            <li>Technology:
                                <strong>Ruby On Rails | Bootsrap | jQury
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Defined Fitness</h2>
                        <%= image_tag "portfolio/defined.jpg", class: "img-responsive img-centered" %>
                        <p>Defined Fitness is the Premier Workout Facility in New Mexico with Superior Weight Lifting Programs and a variety of Group Fitness Classes.</p>
                        <ul class="list-inline item-details">
                            <li>Client:
                                <strong><a href="http://defined.com">Defined Fitness</a>
                                </strong>
                            </li>
                            <li>Technology:
                                <strong><a href="https://ellislab.com/expressionengine">Expression Engine</a>
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
